.App {
	text-align: center;
	padding: 1rem;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	display: block;
	padding: 8px;
	margin: 1rem;
}
button {
	display: block;
	padding: 8px;
	margin: 1rem;
}

li {
	list-style: none;
}

body {
	color: black;
	background-color: #fff;
}

.dark__mode {
	color: #fff;
	background-color: black;
}
